.showdeal-banner {
  color: white;
  text-align: center;
  height: 60vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  position: relative;
}

@media screen and (min-width: 600px) {
  .showdeal-back a {
    position: absolute;
    top: 20px;
    left: 50px;
    text-decoration: none;
    color: #F9F9F9;
    opacity: 0.90;
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: 1px;
  }

  .showdeal-back a:hover {
    opacity: 0.75;
    color: #50E3C2;
    text-decoration: none;
  }

  .showdeal-content {
    position: absolute;
    bottom: 30px;
    left: 150px;
  }

  .showdeal-content a {
    text-decoration: none;
    color: #F9F9F9;
    opacity: 0.90;
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: 1px;
  }

  .showdeal-content a:hover {
    opacity: 0.75;
    color: #50E3C2;
    text-decoration: none;
  }
}

@media screen and (max-width: 600px) {
  .showdeal-back a {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    color: #F9F9F9;
    opacity: 0.90;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 1px;
  }

  .showdeal-back a:hover {
    opacity: 0.75;
    color: #50E3C2;
    text-decoration: none;
  }

  .showdeal-content {
    position: absolute;
    bottom: 30px;
    left: 15px;
  }

  .showdeal-content a {
    text-decoration: none;
    color: #F9F9F9;
    opacity: 0.90;
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: 0px;
  }

  .showdeal-content a:hover {
    opacity: 0.75;
    color: #50E3C2;
  }
}

.resume {
  padding: 20px 50px;
  background-color: white;
}

.resume-card-user {
  width: 90px;
  border-radius: 50%;
  border: #50E3C2 1px solid;
}

.resume-avatar {
  margin-right: 30px;
}

.resume-content {
  font-size: 18px;
  margin-top: 10px;
}

.resume-infos {
  margin-left: 30px;
}

.resume-icon {
  margin-top: 30px;
}

.resume-icon p {
  font-size: 16px;
  margin-top: 15px;
}

.description {
  padding: 30px 15px;
}

.description p {
  font-weight: 200 !important;
  letter-spacing: 1px !important;
  margin: 15px 10px !important ;
  font-size: 16px !important;

}

.desc-title h5 {
  font-size: 16px !important;
}

.desc-card {
  height: 490px;
  width: 450px;
  background-size: cover !important;
  background-position: center;
  margin: 50px 0px;
  color: white;
  background-color: #F9F9F9;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.6);
}

.desc-card-photo {
  padding-top: 25px;
}

.desc-card-description {
  padding: 0px 15px;
}

.desc-card-description h2{
  font-size: 20px;
  margin-bottom: 20px;
  color: #404040;
  font-style: italic;
}

.booking-box {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  padding: 15px;
}

.booking-box h4{
  margin-bottom: 30px !important;
}

.booking-box h5{
font-size: 20px !important;
margin-top: 30px !important;
}

.booking-box p{
  font-weight: 300 !important;
}

.btn-peetaya2 {
  background: #50E3C2;
  border: 2px solid #50E3C2;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  border-radius: 8px;
  font-weight: 400;
  color: #404040;
  width: 100% !important;
  margin: 15px 0px !important;
  padding: 10px !important;
}

.btn-peetaya2:hover {
  opacity: 0.8;
  text-decoration: none;
}



