#map {
  flex: 0 0 450px;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
}

.deals-banner {
  color: white;
  text-align: center;
  height: 60vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
}

.newdeal-banner {
  color: white;
  text-align: center;
  height: 50vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  position: relative;
}

#newdeal-content {
  position: absolute;
  bottom: 10px;
  left: 150px;
}

.form-control {
  font-size: 10px;
  font-weight: lighter;
}

.searchbar-deal {
  padding: 0px 50px;
  margin-bottom: 30px;
}

#namanyay-search-btn {
background:#4FE4C4;
color: #F9F9F9;
padding:10px 10px !important;
margin-top: 10px;
border-radius:0 3px 3px 0;
-moz-border-radius:0 3px 3px 0;
-webkit-border-radius:3px 3px 3px 3px;
-o-border-radius:0 3px 3px 0;
border:0 none;
font-weight:bold;
font-size: 14px;
}

.namanyay-search-box {
padding:10px !important;
margin-top: 10px;
border-radius:3px 0 0 3px;
-moz-border-radius:3px 0 0 3px;
-webkit-border-radius:3px 3px 3px 3px;
-o-border-radius:3px 0 0 3px;
width: 350px;
color: #404040;
background-color: #F9F9F9;
font-size: 14px;
opacity: 0.8;
border: 1px solid #C0C0C0;
}

.namanyay-search-box-type {
padding:10px !important;
margin-top: 10px;
border-radius:3px 0 0 3px;
-moz-border-radius:3px 0 0 3px;
-webkit-border-radius:3px 3px 3px 3px;
-o-border-radius:3px 0 0 3px;
-webkit-appearance:none;
width: 100px;
color: #404040;
font-size: 14px;
opacity: 0.9;
border: 1px solid #C0C0C0;
}



