#map {
  flex: 0 0 450px;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
}

.searchbar-banner {
  color: white;
  text-align: left;
  min-height: 30vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
}

.newdeal-banner {
  color: white;
  text-align: center;
  height: 50vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  position: relative;
}

#newdeal-content {
  position: absolute;
  bottom: 10px;
  left: 150px;
}

.form-control {
  font-size: 10px;
  font-weight: lighter;
}

.searchbar-deal {
  padding: 10px 10px;
}

.searchbar-caption h1 {
  color: #404040 !important;
  text-align: left;
  font-size: 36px !important;
  margin: 10px !important;


}

.namanyay-search-btn {
background: #50E3C2;
color: #F9F9F9;
padding:15px!important;
margin-top: 10px;
border-radius:3px 0 0 3px;
-moz-border-radius:3px 0 0 3px;
-webkit-border-radius:3px 3px 3px 3px;
-o-border-radius:3px 0 0 3px;
border:0 none;
font-weight:300px;
font-size: 18px;
}

.namanyay-search-btn:hover {
  opacity: 0.8;
  text-decoration: none;
}

.namanyay-search-box {
padding: 15px !important;
margin-top: 10px;
border-radius:3px 0 0 3px;
-moz-border-radius:3px 0 0 3px;
-webkit-border-radius:3px 3px 3px 3px;
-o-border-radius:3px 0 0 3px;
max-width: 300px;
color: #404040;
background-color: white;
font-size: 18px;
opacity: 0.9;
border: 1px solid #C0C0C0;
}



