.banner-landing {
  color: white;
  text-align: center;
  height: 130vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
}

.banner-landing-content {
  padding: 10px 10px;
}

.banner-landing h1 {
  font-size: 46px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  box-shadow: inset 0 -25px 0 rgba(255, 255, 0, 0.9);
}

.banner-landing p {
  font-size: 28px !important;
  font-weight: lighter;
  opacity: 0.95;
  max-width: 800px;
  margin-top: 40px;
  margin-bottom: 100px;
}

.btn-treehouse {
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  font-weight: regular;
  font-size: 22px;
  border: 5px solid rgba(255, 255, 0, 0.9);
  transition: background 0.3s ease;
  opacity: 0.95;
}

.btn-treehouse:hover {
  color: white;
  opacity: 0.6;
  text-decoration: none;
}

.banner-landing2 {
  color: white;
  text-align: center;
  height: 60vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  margin-top: 30px;
}

.banner-landing2-content {
  padding: 10px 10px;
}

.banner-landing2 h1 {
  font-size: 46px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  box-shadow: inset 0 -15px 0 rgba(255, 255, 0, 0.9);
  border-bottom: 5px solid rgba(255, 255, 0, 0.9);
  margin-bottom: 50px;
}

.btn-treehouse2 {
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  font-weight: regular;
  font-size: 32px;
  border: 5px solid rgba(255, 255, 0, 0.9);
  transition: background 0.3s ease;
  opacity: 0.95;
}

.btn-treehouse2:hover {
  color: white;
  opacity: 0.6;
  text-decoration: none;
}
