.banner-landing {
  color: white;
  text-align: center;
  min-height: 120vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  margin-bottom: 30px;
}

.banner-landing-content {
  padding: 10px 10px;
}

.banner-landing h1 {
  font-size: 46px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  box-shadow: inset 0 -23px 0 rgba(80, 227, 194, 0.9);
}

.banner-landing p {
  font-size: 28px !important;
  font-weight: 250;
  opacity: 0.95;
  max-width: 800px;
  margin-top: 40px;
  margin-bottom: 50px;
  color: white !important;
  letter-spacing: 1px !important;
}

.btn-treehouse {
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  font-weight: regular;
  font-size: 22px;
  border: 5px solid rgba(255, 255, 0, 0.9);
  transition: background 0.3s ease;
  opacity: 0.95;
}

.btn-treehouse:hover {
  color: white;
  opacity: 0.6;
  text-decoration: none;
}

.banner-landing2 {
  color: white;
  text-align: center;
  height: 60vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  margin-top: 30px;
}

.banner-landing2-content {
  padding: 10px 10px;
}

.banner-landing2 h1 {
  font-size: 46px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  box-shadow: inset 0 -15px 0 rgba(80, 227, 194, 0.9);
  border-bottom: 5px solid rgba(80, 227, 194, 0.9);
  margin-bottom: 50px;
}

.btn-treehouse2 {
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  font-weight: regular;
  font-size: 32px;
  border: 5px solid rgba(255, 255, 0, 0.9);
  transition: background 0.3s ease;
  opacity: 0.95;
}

.btn-treehouse2:hover {
  color: white;
  opacity: 0.6;
  text-decoration: none;
}

#mailchimp {
  padding: 15px 15px;
}

#mailchimp input {
  }

#mailchimp input.email {
  height: 40px;
  width: 300px;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 2px;
  font-weight: lighter;
  color: #A9A9A9;
  margin: 15px 10px;

}

#mailchimp input[type="submit"] {
  height: 50px;
  background: #50E3C2;
  border: 2px solid #50E3C2;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  border-radius: 8px;
  margin: 20px 10px;
  padding: 5px 15px;
  font-weight: 300;
  font-size: 20px;
  color: #404040;
}

#mailchimp input[type="submit"]:hover {
  opacity: 0.8;
  text-decoration: none;
}
