  .showprofile-banner {
    color: white;
    text-align: center;
    height: 60vh;
    /* if you have a 70px navbar => height: calc(100vh - 70px); */
    background-size: cover !important;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    position: relative;
  }

@media screen and (min-width: 600px) {
  .showprofile-back a {
    position: absolute;
    top: 20px;
    left: 50px;
    text-decoration: none;
    color: #F9F9F9;
    opacity: 0.90;
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: 1px;
  }

  .showprofile-back a:hover {
    opacity: 0.75;
    color: #50E3C2;
    text-decoration: none;
  }

  .showprofile-content h3 {
    position: absolute;
    bottom: 10px;
    left: 150px;
  }

  .showprofile-content a {
    position: absolute;
    bottom: 30px;
    left: 350px;
    text-decoration: none;
    color: #F9F9F9;
    opacity: 0.90;
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: 1px;
  }

  .showprofile-content a:hover {
    opacity: 0.75;
    color: #50E3C2;
    text-decoration: none;
  }
}

@media screen and (max-width: 600px) {
  .showprofile-back a {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    color: #F9F9F9;
    opacity: 0.90;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 1px;
  }

  .showprofile-back a:hover {
    opacity: 0.75;
    color: #50E3C2;
    text-decoration: none;
  }

  .showprofile-content h3 {
    position: absolute;
    bottom: 10px;
    left: 30px;
  }

  .showprofile-content a {
    position: absolute;
    bottom: 30px;
    left: 180px;
    text-decoration: none;
    color: #F9F9F9;
    opacity: 0.90;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 1px;
  }

  .showprofile-content a:hover {
    opacity: 0.75;
    color: #50E3C2;
    text-decoration: none;
  }

}




