// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";


.body {
  color:#4c4c4c !important;
}
.btn-peetaya {
  background: #50E3C2;
  border: 2px solid #50E3C2;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  border-radius: 8px;
  margin: 20px 10px;
  padding: 5px 10px;
  font-weight: 400;
  color: #404040;
}

.btn-peetaya:hover {
  opacity: 0.9;
  text-decoration: none;
}

.container {
  margin-bottom: 30px
}
