// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

.container {
  min-height: 80vh;
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: white;
  width: 100%;
}

.btn-aloha {
  color: white;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  background: green;
  transition: background 0.3s ease;
  font-size: 16px;
  min-width: 100px;
  margin-top: 30px;
  margin-bottom:30px;
}

.btn-aloha:hover {
  opacity: 0.7;
  text-decoration: none;
  color: #F9F9F9;
}
