<div class="banner" style="background-image: url('<%=image_path "banner.jpg" %>');">
  <div class="banner-content">
    <h1>Bousculez votre façon de voyager</h1>
    <p>Vivez une expérience authentique et unique</p>
    <a class="btn btn-medium btn-lg">Partager un bon plan</a>
  </div>
</div>
