<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/banner.jpg');">
  <div class="banner-content">
    <h1>Vivez comme un local</h1>
    <h4>A la recherche d'insolite et d'authentique</h4>
  </div>
</div>

