<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%=image_path "banner.jpg" %>');">
  <div class="banner-content">
    <h1>Bousculez votre façon de voyager</h1>
    <p>Vivez une expérience authentique et unique</p>

    <%= render "shared/searchbar" %>
    <!-- Bouton
    <a class="btn btn-medium btn-lg">Lancement du site J - 26</a>-->

  </div>
</div>
