<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%=image_path "banner.jpg" %>');">
  <div class="banner-content">
    <h1>Bousculez votre façon de voyager</h1>
    <p>Vivez une expérience authentique et unique</p>
    <div class="fb-like" data-href="https://www.facebook.com/AloHa-Travel-1861717003901882/?ref=aymt_homepage_panel" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
    <!-- Bouton
    <a class="btn btn-medium btn-lg">Lancement du site J - 26</a>-->

    <div class="compteur">
      <h4>Lancement de notre site dans </h4>
      <span><font size="6"> <div align="center">
      <center><script language="JavaScript">
      TargetDate = "04/09/2018 08:00 AM";
      BackColor = false;
      ForeColor = false;
      CountActive = true;
      CountStepper = -1;
      LeadingZero = true;
      DisplayFormat = "%%D%%j &nbsp %%H%%h &nbsp %%M%%m &nbsp %%S%%s";
      FinishMessage = "GO GO GO!";
      </script>
      <script language="JavaScript" src="http://scripts.hashemian.com/js/countdown.js">
      </script></center></div></span>
      &nbsp;
    </div>
  </div>
</div>
