<div class="experience text-center">
  <h1>COMMENT CA MARCHE?</h1>

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner text-center" role="listbox">

      <div class="item active">
        <%=image_tag 'carousel/search1.jpg', class: "value-pics text-center" %>
        <div class="carousel-caption">
          <h1>1. Je cherche</h1>
          <h3>Mon PeetaGuide en moins de 1 minute</h3>
        </div>
      </div>

      <div class="item">
        <%=image_tag 'carousel/choice3.jpg', class: "value-pics text-center" %>
        <div class="carousel-caption">
          <h1>2. Choisis</h1>
          <h3>Le PeetaGuide de mon choix en matchant avec les tours qui me correspondent le mieux</h3>
        </div>
      </div>

      <div class="item">
        <%=image_tag 'carousel/pay.jpg', class: "value-pics text-center" %>
        <div class="carousel-caption">
          <h1>3. Je règle</h1>
          <h3>Directement via le site en quelques clics seulement</h3>
        </div>
      </div>

      <div class="item">
        <%=image_tag 'carousel/review.jpg', class: "value-pics text-center" %>
        <div class="carousel-caption">
          <h1>4. Je note</h1>
          <h3>L'expérience avec mon PeetaGuide</h3>
        </div>
      </div>

    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>


<script type="text/javascript">
$('.carousel').carousel({
interval: 3000,
pause: false
})
</script>
