<div class="experience text-center">
  <div class="experience-title">
    <h4>L'expérience AloHa Travel</h4>
  </div>

  <div class="row">
    <div class="experience-card text-right">
      <div class="col-xs-12 col-sm-5 col-md-6">
        <div class="experience-nb ">
          <h1>1</h1>
        </div>
        <div class="experience-content">
          <h4>Je créé mon profil</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia in, dicta voluptates cumque eligendi labore assumenda distinctio fuga nesciunt quibusdam.</p>
        </div>
      </div>
    </div>

    <div class="experience-card text-left">
      <div class="col-xs-12 col-sm-5 col-md-6 offset-md-3">
        <div class="experience-icon">
          <%=image_tag 'profile.png', width:100, height:100  %>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-left">
    <div class="experience-card">
      <div class="col-xs-12 col-sm-5 col-md-6 offset-md-3">
        <div class="experience-icon2 text-right">
          <%=image_tag 'geolocalization.png', width:130, height:130  %>
        </div>
      </div>
    </div>

    <div class="experience-card">
      <div class="col-xs-12 col-sm-5 col-md-6 ">
        <div class="experience-nb ">
          <h1>2</h1>
        </div>
        <div class="experience-content">
          <h4>Je créé mes bons plans</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia in, dicta voluptates cumque eligendi labore assumenda distinctio fuga nesciunt quibusdam.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="experience-card text-right">
      <div class="col-xs-12 col-sm-5 col-md-6 ">
        <div class="experience-nb">
          <h1>3</h1>
        </div>
        <div class="experience-content">
          <h4>Je suis rémunéré</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia in, dicta voluptates cumque eligendi labore assumenda distinctio fuga nesciunt quibusdam.</p>
        </div>
      </div>
    </div>
    <div class="experience-card text-left">
      <div class="col-xs-12 col-sm-5 col-md-6 offset-md-3">
        <div class="experience-icon">
          <%=image_tag 'chat.png', width:130, height:130  %>
        </div>
      </div>
    </div>
  </div>

</div>
