<div class="experience text-center">
  <div class="experience-title">
    <h4>L'expérience AloHa Travel</h4>
  </div>

  <div class="row">
    <div class="experience-card text-right">
      <div class="col-xs-12 col-sm-5 col-md-6">
        <div class="experience-nb ">
          <h1>1</h1>
        </div>
        <div class="experience-content">
          <h4>Je créé mon profil</h4>
          <p>Je renseigne mes informations en quelques clics. Un profil complet suscite la confiance des membres de la communauté.</p>
        </div>
      </div>
    </div>

    <div class="experience-card text-left">
      <div class="col-xs-12 col-sm-5 col-md-6 offset-md-3">
        <div class="experience-icon">
          <%=image_tag '1.Profil.png', width:250, height:187 %>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-left">
    <div class="experience-card">
      <div class="col-xs-12 col-sm-5 col-md-6 offset-md-3">
        <div class="experience-icon2 text-right">
          <%=image_tag '2.Plans.png', width:250, height:187  %>
        </div>
      </div>
    </div>

    <div class="experience-card">
      <div class="col-xs-12 col-sm-5 col-md-6 ">
        <div class="experience-nb ">
          <h1>2</h1>
        </div>
        <div class="experience-content">
          <h4>Je géolocalise les plans autour de moi</h4>
          <p>Je renseigne les infos concernant le bon plan que je souhaite partager avec la communauté.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="experience-card text-right">
      <div class="col-xs-12 col-sm-5 col-md-6 ">
        <div class="experience-nb">
          <h1>3</h1>
        </div>
        <div class="experience-content">
          <h4>Je réserve le plan fait pour moi</h4>
          <p>Je selectionne les dates et nombre de voyageurs avant de réserver et de profiter de ce moment unique.</p>
        </div>
      </div>
    </div>
    <div class="experience-card text-left">
      <div class="col-xs-12 col-sm-5 col-md-6 offset-md-3">
        <div class="experience-icon">
          <%=image_tag '3.Booking.png', width:250, height:187 %>
        </div>
      </div>
    </div>
  </div>

</div>
