<div class="footer text-center">
  <ul>
    <li> <a href="/"> <p>LEGAL</p></a> </li>
    <li> <a href="/"> <p>FACEBOOK</p></a> </li>
    <li> <a href="/"> <p>INSTAGRAM</p></a> </li>
    <li> <a href="/"> <p>CONTACT</p></a> </li>
    <li> <%=image_tag 'logo_euratech.png', width:130  %> </li>
  </ul>
</div>
