<div class="footer">
  <div class="footer-content text-left">
    <h4>A propos</h4>
    <p>Qui sommes-nous?</p>
    <p>Conditions générales</p>
    <p>Mentions légales</p>
    <p>Contactez-nous</p>
  </div>

  <div class="footer-logo text-right">
    <%=image_tag 'logo_euratech.png', width:150  %>
  </div>
</div>
