<div class="footer">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-3 footer-title">
        <div>
          <h5>peetaya</h5>
        </div>
          <p>Euratechnologies</p>
          <p>165 Avenue de Bretagne</p>
          <p>59000 Lille</p>
          <p>+33 (0)6 59 72 88 78</p>
        </div>

      <div class="col-xs-12 col-sm-3">
        <div class="footer-title">
          <h5>Concept</h5>
        </div>
        <div class="footer-links">
          <a href="/living">Peetayers</a>
        </div>
        <div class="footer-links">
          <a href="/design">Peetaguide</a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-3">
        <div class="footer-title">
          <h5>Company</h5>
        </div>
        <div class="footer-links">
          <a href="/pages#legal">Join peetaya</a>
        </div>
        <div class="footer-links">
          <a href="/pages#legal">About us</a>
        </div>
        <div class="footer-links">
          <a href="mailto:contact@peetaya.com" title="contact@peetaya.com">Contact us</a>
        </div>
        <div class="footer-links">
          <a href="https://www.facebook.com/peetayatravel/" target="_blank">
            <i class="fab fa-facebook fa-lg"></i>
          </a>
          <a href="https://www.instagram.com/peetayatravel/" target="_blank">
            <i class="fab fa-instagram fa-lg"></i>
          </a>
          <a href="https://www.pinterest.fr/peetaya/" target="_blank">
            <i class="fab fa-pinterest fa-lg"></i>
          </a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-3">
        <div class="footer-title">
          <h5>Partners</h5>
        </div>
        <div class="footer-links">
          <a href="https://www.euratechnologies.com" target="_blank" class="partner-brand">
            <img id="logo" src="https://www.euratechnologies.com/content/themes/euratechnologies/assets/img/euratechnologies-logo-white.svg" alt="Euratechnologies logo white">
          </a>
        </div>
      </div>

    </div>
  </div>
</div>

