<%= render 'shared/navbar' %>

<div class= "container">
  <div class="col-xs-12 col-sm-12 col-md-12" >
    <div class="contact">
      <h2>Nous contacter</h2>
      <br>
      <br>
      <p>+33 659 728 878</p>
      <p>165 Avenue de Bretagne, 59000 Lille, France</p>
      <p><a href="mailto:ccontact@peetaya.com" title="contact@peetaya.com">contact@peetaya.com</a></p>
      <br>
      <br>
      <p>Suivez-nous:</p>
      <div class="contact-social-link">
        <a href="https://www.facebook.com/bypeetaya/" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
        <a href="https://www.instagram.com/bypeetaya/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
        <a href="https://www.pinterest.fr/peetaya/" target="_blank"><i class="fa fa-pinterest-p fa-2x"></i></a>
      </div>
      <br>
      <br>
    </div>
  </div>
</div>
