<%= render 'shared/navbar_home' %>

<!-- Banner bloc -->
<div class="join2-banner" style="background-image: linear-gradient(-225deg, rgba(200,200,200,0.6) 0%, rgba(0,0,0,0.6) 50%), url('<%=image_path "home/joinus2.jpg" %>');">
  <div class="banner-home-content">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h2>Merci, votre iscription a bien été prise en compte</h2>
      <h3>N'hésitez pas à liker nos pages dès à présent</h3>
      <div class="footer2-links">
        <a href="https://www.facebook.com/peetayatravel/" target="_blank"><i class="fab fa-facebook fa-3x"></i></a>
        <a href="https://www.instagram.com/peetayatravel/" target="_blank"><i class="fab fa-instagram fa-3x"></i></a>
        <a href="https://www.pinterest.fr/peetaya/" target="_blank"><i class="fab fa-pinterest fa-3x"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- End Banner bloc -->






