<div class= "container">
  <h2> Mentions légales</h2>

  <h5>Adresse: 165 Avenue de Bretagne, 59000 Lille, France</h5>
  <h5>Email: peetayacontact@gmail.com</h5>
  <h5>Site Web: www.peetaya.com</h5>
  <h5>Dirigeant: Florine Lequette</h5>


  <h3>Crédits</h3>
  <p>Logo: Florine Lequette.</p>
  <p>Photographies: Unsplash.</p>

  <h3>Hébergeur</h3>
  <p>Les serveurs du site www.peetaya.com sont hébergés chez Heroku. Conformément aux dispositions de la loi française n°2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, l'hébergeur dispose des coordonnées du gestionnaire du site.

  <h3>Propriété intellectuelle</h3>
  <p>Comme il est exposé dans les CGS, PEETAYA est une plateforme de mise en relation qui met en ligne des contenus publiés par ses membres. Les membres sont responsables des contenus qu’ils mettent en ligne sur la plateforme. Si vous êtes l’auteur de l’un de ces contenus et que vous n’avez pas donné l’autorisation de l’exploiter, vous pouvez nous contacter par mail (peetayacontact@gmail.com) afin que nous procédions au retrait dudit contenu.</p>
</div>
