<div class= "container">
  <h2> Mentions légales</h2>
  <p>Administration du site
  Le site www.viwilo.com est édité et exploité par la société VIWILO, société par actions simplifiée au capital de 5000 €, dont le siège social est situé au 39 A Rue de la Grange aux Belles, immatriculée au registre du commerce et des sociétés de Paris sous le numéro 823 973 698.

  L’entreprise VIWILO SAS est dirigée par Pierre Hoellinger (Président) et Thomas Lehoux (Directeur Général).

  Le Responsable de la publication: M. Pierre Hoellinger.

  Crédits
  Logo: Nelson Da Silva, son portfolio.
  Photographies: Shutterstock, Viwilo.

  Informatique et libertés
  Le site www.viwilo.com est déclaré à la Commission Nationale Informatique et Libertés (CNIL) sous le numéro 2013645 et respecte les dispositions de la loi 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.

  En application de la loi nº 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, vous disposez des droits d'opposition (art. 26 de la loi), d'accès (art. 34 à 38 de la loi) et de rectification (art. 36 de la loi) des données vous concernant.

  Vous pouvez exercer ce droit en nous contactant via contact@viwilo.com ou par courrier postal envoyé à l’adresse suivante : VIWILO, 39 A Rue de la Grange aux Belles, 75010 Paris

  Hébergeur
  Les serveurs du site www.viwilo.com sont hébergés chez Digital Ocean, 101 Avenue of the Americas, 10th Floor, New York, NY 10013 et Amazon Web Services, P.O. Box 81226, Seattle, WA 98108-1226. Conformément aux dispositions de la loi française n°2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, l'hébergeur dispose des coordonnées du gestionnaire du site.
  Propriété intellectuelle
  Comme il est exposé dans les CGS, VIWILO est une plateforme de mise en relation qui met en ligne des contenus publiés par ses membres. Les membres sont responsables des contenus qu’ils mettent en ligne sur la plateforme. Si vous êtes l’auteur de l’un de ces contenus et que vous n’avez pas donné l’autorisation de l’exploiter, vous pouvez nous contacter par mail (contact@viwilo.com) afin que nous procédions au retrait dudit contenu.</p>

</div>
