<%= render 'shared/navbar' %>

<div class="container">
  <div class="row">
    <div class="tabs">
      <a class="tab active" href="/peetaguide" >
        <h3>Peetayguide</h3>
      </a>
      <a class="tab" href="/peetayer">
        <h3>Peetayer</h3>
      </a>
    </div>
  </div>
  <hr/>
  <div class="description text-left">
    <h3>Devenir un Peetaguide</h3>
    <div class="desc-title"><h5>Dois-je déclarer mes recettes?</h5></div>
    <div class="desc-lg"><p>En tant que peetaguide, vous êtes responsables de la détermination de la législation fiscale applicable dans votre pays en ce qui concerne les paiements que vous recevez des peetayers (clients).</p></div>

    <div class="desc-title"><h5>Combien et comment serai-je payé?</h5></div>
    <div class="desc-lg"><p>Pour chacune de vos excursions réalisées, votre peetayer vous paiera en espèce le montant que vous avez défini sur la description de votre excursion.
    En plus du prix de l'excursion que vous aurez fixé, le peetayer sera facturé de 30% supplémentaires, payés directement via le siteweb, pour des frais de réservation.</p></div>

    <div class="desc-title"><h5>Est-ce considéré comme un emploi?</h5></div>
    <div class="desc-lg"><p>Non. Nous sommes un site Web gratuit, offrant aux gens un espace pour se promouvoir et être payé en réalisant des excursions imaginées par eux-même. Vous êtes donc responsables de la gestion et de la promotion de votre propre page, qui ne confère aucun statut d'employé.</p></div>

    <div class="desc-title"><h5>Dois-je accepter toutes les demandes des visiteurs?</h5></div>
    <div class="desc-lg"><p>Non. Si vous n'êtes pas disponible à une certaine date, par exemple, vous pouvez suggérer d'autres dates ou heures. Si vous ne trouvez toujours pas d'accord, vous pouvez nous écrire et nous proposerons la demande à un autre Peetaguide de votre ville.

    Cependant, vous devez toujours répondre et garder votre invité informé en tout temps avec une grande transparence. La plateforme se réserve le droit de mettre hors ligne le profil des Peetaguides qui ne répondent pas aux demandes, jusqu'à ce qu'il manifeste le désir de participer activement.

    Dans le cas où un Peetaguide ne se présente pas à une excursion confirmée avec un peetayer, la plateforme se réserve le droit de désactiver son profil.</p></div>
  </div>
</div>
