<%= render 'shared/navbar' %>

<div class="container">
  <div class="row">
    <div class="tabs">
      <a class="tab active" href="/peetaguide" >
        <h3>Peetayguide</h3>
      </a>
      <a class="tab" href="/peetayer">
        <h3>Peetayer</h3>
      </a>
    </div>
  </div>
  <hr/>
  <div class="description text-left">
    <h3>Être un Peetayer</h3>
    <div class="desc-title"><h5>Comment puis-je entrer en contact avec l'équipe Peetaya?</h5></div>
    <div class="desc-lg"><p>N'hésitez pas à nous envoyer un message si vous avez d'autres questions, nous sommes disponibles à n'importe quel moment: contact@peetaya.com</p></div>

    <div class="desc-title"><h5>Puis-je avoir une facture?</h5></div>
    <div class="desc-lg"><p>Oui, il suffit de nous envoyer votre nom (et/ou nom de l'entreprise) par mail à l'adresse suivante: contact@peetaya.co.</p></div>

    <div class="desc-title"><h5>Comment annuler une sortie?</h5></div>
    <div class="desc-lg"><p>Si vous souhiatez annuler votre excursion, envoyez le plus rapidement possible un message à votre Peetaguide. Vous avez jusqu'à 72h avant votre excursion pour annuler votre réservation et obtenir une remboursement complet. Après cela, les 30% de frais de réservation ne seront pas remboursés car le Peetaguide aura peut-être abandonné une autre réservation.</p></div>

    <div class="desc-title"><h5>Où est le point de RDV avec mon Peetaguide?</h5></div>
    <div class="desc-lg"><p>Généralement, le point de RDV est indiqué dans la description de l'excursion. Cependant, n'hésitez pas à en discuter avec votre Peetaguide si celui-ci ne vous arrange pas.</p></div>

    <div class="desc-title"><h5>Après avoir payé les frais de garantie de réservation (30%), que dois-je faire d'autre?</h5></div>
    <div class="desc-lg"><p>Une fois les frais payés, la réservation est officielle et votre Peetaguide bloquera cette date pour vous accompagner en excursion. Vous aurez ses coordonnées et pourrez donc discuter avec lui, lui poser des questions...Le reste du montant à payer (70%) sera à régler en espèce directement à votre Peetaguide au début ou à la fin de votre excursion.</p></div>

    <div class="desc-title"><h5>Qu'est-ce qui est inclus dans le prix de la réservation?</h5></div>
    <div class="desc-lg"><p>Généralement, les Peetaguides indiquent dans la description de leur excursion ce qui est inclut ou non, et ce qu'il faut prévoir. N'hésitez pas à en discuter avec lui si vous avez des questions.</p></div>

    <div class="desc-title"><h5>Comment le paiement est-il effectué?</h5></div>
    <div class="desc-lg"><p>Pour réserver votre Peetaguide à la date souhaitée, 30% vous sont demandés lors de la réservation sur le site Peetya.com. Le montant sera débité une fois l'acceptation de votre demande auprès du Peetaguide. Les 70% restants seront payés directement au Peetaguide au début ou à la fin de l'excursion.</p></div>



    <div class="desc-title"><h5>Qui sont les amis locaux et quels sont leurs antécédents?</h5></div>
    <div class="desc-lg"><p>Les Peetaguides sont des femmes expatriées ayant d'autres occupations (ou pas) qui varient considérablement. Elles ont en commun leur amour pour l'endroit où elles vivent et leur intérêt à rencontrer de nouvelles personnes et à leur parler de ce qu'elles considèrent comme le meilleur dans leur ville de résidence.</p></div>

  </div>
</div>
