<%= render 'shared/navbar' %>

<div class="container">
  <div class="row">
    <div class="tabs">
      <a class="tab active" href="/peetaguide" >
        <h3>Peetayguide</h3>
      </a>
      <a class="tab" href="/peetayer">
        <h3>Peetayer</h3>
      </a>
    </div>
  </div>
  <hr/>
  <div class="description">
    <h3>Être un Peetayer</h3>
    <h5>En cours</h5>
  </div>
</div>
