<%= render 'shared/navbar' %>

<div class="container">
  <div class="row">
    <div class="tabs">
      <a class="tab active" href="/peetaguide" >
        <h3>Peetayguide</h3>
      </a>
      <a class="tab" href="/peetayer">
        <h3>Peetayer</h3>
      </a>
    </div>
  </div>
  <hr/>
  <div class="description">
    <h3>Devenir un Peetaguide</h3>
    <h5>Dois-je payer des impôts?</h5>
    <p>En tant qu'ami local, vous êtes responsable de la détermination de la législation fiscale applicable dans votre pays en ce qui concerne les paiements que vous recevez des clients.</p>

    <h5>Combien et comment serai-je payé?</h5>
    <p> Pour chaque expérience locale réussie «en personne» que vous fournissez, votre invité vous paiera exactement ce que vous définissez dans les prix, sur votre page de profil (journée complète et demi-journée) en espèces lorsque vous vous rencontrez.

    En plus de ce que les clients acceptent de vous payer, ils seront facturés des frais de réservation de 30%. Si elles annulent moins de 48h avant la date réservée, l'ami recevra ces 30% de frais en compensation de l'annulation de dernière minute.

    Les services d'amis virtuels sont intégralement facturés à l'invité et transférés à l'ami une fois le service terminé. Vous devez nous écrire un e-mail à info@rentalocalfriend.com pour nous informer lorsqu'un service Virtual Friend a été conclu.
    </p>

    <h5>Puis-je considérer cela comme un travail?</h5>
    <p>Non. Nous agissons comme un site Web gratuit du marché, offrant aux gens un espace pour se promouvoir et être payé. Vous êtes conjointement responsable de la gestion et de la promotion de votre propre page chez RentaLocalFriend.com, qui ne confère aucun statut d'employé.</p>

    <h5>Dois-je accepter toutes les demandes des visiteurs?</h5>
    <p>Non. Si vous n'êtes pas disponible à une certaine date, par exemple, vous pouvez suggérer d'autres dates ou heures. Si vous ne trouvez toujours pas d'accord de calendrier, vous pouvez transmettre la demande à d'autres amis locaux de votre ville.

    Cependant, vous devez toujours répondre et garder votre invité informé en tout temps avec une grande transparence. La plateforme se réserve le droit de mettre hors ligne le profil des Amis qui ne répondent pas aux demandes, jusqu'à ce qu'il manifeste le désir de participer activement.

    Dans le cas où l'ami local ne se présente pas à une expérience locale confirmée avec un visiteur, la plateforme se réserve le droit de désactiver son profil sans remboursement à l'ami local.
    </p>

    <h3>Pourquoi n'êtes-vous pas "sans argent" comme Airbnb et Uber?</h3>
    <p>Nous étudions si oui ou non nous allons «sans argent» avec toutes les transactions, en facturant le montant total via la plateforme et en le transférant ensuite aux amis. Cela rendra toutefois la transaction plus coûteuse avec des frais de virement bancaire et des frais administratifs supplémentaires. Nous sommes une communauté et nos amis ont leur mot à dire sur ce qu'ils préfèrent, alors, en attendant, nous avons choisi de rester avec l'option «cash in hand».
    </p>
  </div>
</div>
