<div class="deals-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%=image_path "joinus.jpg" %>');">
  <div class="joinus-content text-center">
    <h4>Le Cambodge comme un Cambodgien</h4>
  </div>
</div>


<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8 ">
    <!-- Cards Deal -->
    <%= render "shared/cards_deal" %>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 ">
    <!-- Maps -->
    <div id="map" style="width: 100%; height: 700px;" data-markers="<%= @markers.to_json %>"></div>
  </div>
</div>


<!-- Joinus bloc -->
<%= render "shared/joinus" %>
