.instagram{
  background-color: white;
  margin-top: 50px;
  margin-bottom: 50px;
}

.instagram-title{
  margin-bottom: 50px;
}

.instagram-card {
  margin-right: 10px;
  margin-left: 10px;
}

.instagram-icon {
  padding-bottom: 10px;

}

.instagram h4 {
  font-size: 26px;
  padding-top: 30px;
  font-weight: lighter;
}

.instagram p {
  font-size: 14px;
  font-weight: lighter;
}
