.instagram{
  background-color: white;
  padding: 10px 30px;

}

.instagram-title{
  margin-bottom: 10px;
}

.instagram-photos {
  padding-right: 50px;
}


.instagram-icon a {
  color: #50E3C2;
  text-decoration: none;
}

.instagram-icon a:hover {
  opacity: 0.6;
}


.instagram h4 {
  font-size: 26px;
  padding-top: 30px;
  font-weight: lighter;
}

.instagram p {
  font-size: 14px;
  font-weight: lighter;
}
