.experience {
  padding: 30px 30px;
}

.experience h1 {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px){
.carousel-caption {
    padding-bottom: 50px !important;
}
}

.value-pics {
  height: 100% !important;
  width: 100% !important;
  opacity: 0.9;
}

.carousel-caption h1 {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.carousel-caption h3 {
  font-size: 30px;
  font-weight: lighter;
}
