.deal-card {
  height: 320px;
  width: 350px;
  background-size: cover !important;
  background-position: center;
  margin: 20px 20px;
}

.deal-card-photo {
  border-radius: 2px;
}

.deal-card-desc {
  position: relative;
}

.deal-card-user {
  position: absolute;
  left: 5px;
  width: 50px;
  border-radius: 50%;
  top: 15px;
}

.deal-card-title {
  position: absolute;
  left: 80px;
  color: #404040;
}

.deal-card-title h2 {
  font-size: 16px;
}

.deal-card-title p {
  font-size: 12px;
  opacity: 0.8;
  font-weight: lighter;
}

.deal-card-price {
  position: absolute;
  left: 80px;
  color: #404040;
  font-size: 12px;
  opacity: 0.8;
  font-weight: lighter;
}

.deal-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.deal-card-link:hover {
  opacity: 0.1;
}
#map {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
}
