.main-container {
  display: flex;
}

#map {
  flex: 0 0 450px;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
}

.deal-card {
  height: 320px;
  width: 350px;
  background-size: cover !important;
  background-position: center;
  margin-top: 30px;
  margin-left: 20px;
}

.deal-card-photo {
  border-radius: 3px;
}

.deal-card-desc {
  position: relative;
}

.deal-card-title {
  position: absolute;
  left: 70px;
  color: #404040;
  font-size: 14px;
  opacity: 0.8;
  font-weight: lighter;
  word-spacing: 2px;
  letter-spacing: 2px;
  margin-top: 10px;
}

.deal-card-name {
  position: absolute;
  left: 70px;
  top: 30px;
  color: #404040;
  font-size: 16px;
}

.deal-card-user {
  position: absolute;
  left: 5px;
  width: 50px;
  border-radius: 50%;
  top: 15px;
}

.deal-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.deal-card-link:hover {
  opacity: 0.1;
}
