.card {
  height: 350px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 3px;
  margin-bottom: 30px;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 60px;
  border-radius: 50%;
}

.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
}

.card-category h3 {
  margin: 0 !important;
  font-weight: 300 !important;
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.card-description h3 {
  margin: 0 !important;
  font-weight: 400 !important;
}

.card-description p {
  font-size: 22px !important;
  font-weight: lighter !important;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}

.card-link:hover{
  opacity: 0.1;
}

