.experience {
  margin-top: 50px;
  margin-bottom: 80px;
  margin-right: 50px;
  margin-left: 50px;
}

.experience-title h4 {
  font-size: 26px;
  font-weight: lighter;
}

.experience-card {
  padding-right: 80px;
  padding-left: 80px;

}

.experience-icon {
  margin-top:80px;
}

.experience h1 {
  font-size: 70px;
  color: #50E3C2;
}

.experience-content h4 {
  font-size: 20px;
  font-weight: lighter;
  color: #50E3C2;
}

.experience p {
  font-size: 14px;
  font-weight: lighter;
}
