

.footer {
  background: #404040;
  min-height: 35vh;
  padding: 30px 30px;
  color: black;
}

.footer-card {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
}

.footer-content {
  margin: 10px 15px;
  font-size: 16px;
  letter-spacing: 1px;
}

.footer-content h4 {
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 15px;
}

.footer-content ul li {
  list-style:none;
  font-weight: regular;
  letter-spacing: 1px;
}

.footer-content ul li a {
  color: black;
}

.footer-content ul li a:hover {
  text-decoration: none;
  opacity: 0.7;
}
