.footer {
  background: #191919;
  display: flex;
  align-items: center;
  min-height: 300px;
  padding: 0px 50px;
  padding-bottom: 50px;
}

 .footer p {
  font-weight: lighter;
  font-size: 12px !important;
  opacity: 0.9;
 }

.footer
.container {
  background-color: #191919;
  color: white;
}

.footer-title {
  color: #FFF;
}

.footer-link {
  color: white;
  text-decoration: none;
  font-weight: 300;
  font-size: 12px !important;
  opacity: 0.9;
}

.footer-link a:hover {
  text-decoration: none;
  color: white;
  opacity: 0.85;
}
