

.footer {
  background: #404040;
  min-height: 35vh;
  padding: 30px 30px;
  color: black;
}

.footer-card {
  margin: 30px;
}

.footer-content {
  margin: 10px 15px;
  font-size: 14px;
  letter-spacing: 1px;
}

.footer-content h4 {
  letter-spacing: 1px;
  font-weight: regular;
  margin-bottom: 15px;
  font-size: 16px;
  color: #E4E4E4;
}

.footer-content p {
  letter-spacing: 1px;
  font-weight: lighter;
  font-size: 12px;
  color: #E4E4E4;
}

.footer-content ul li {
  list-style:none;
}

.footer-content ul li a {
  color: #E4E4E4;
  font-size: 12px;
  font-weight: lighter;
  letter-spacing: 1px;
}

.footer-content ul li a:hover {
  text-decoration: none;
  opacity: 0.7;
}
