.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30vh;
  padding: 20px 50px;
  color: rgba(0,0,0,0.3);
  background-color: #50E3C2;
}

.footer-content {
  padding-left: 200px;
}

.footer-content h4 {
  font-size: 16px;
  font-weight: bold;
  color: #404040;
}

.footer-content p {
  font-size: 12px;
  color: #404040;
  line-height:5px;
}

.footer-logo {
  padding-right: 200px;
}

.footer-copyright {
  font-size: 12px;
  color: #404040;
}

.footer .fa-heart {
  color: #404040;
}


