.footer {
  display: flex;
  align-items: center;

  padding: 50px 50px;
  padding-bottom: 50px;
  background-color: #191919;
}

.footer .container {
    text-align: left;
    min-height: 50vh;

}

.footer-title {
  color: #F6F6F6;
}

 .footer p {
  margin-top: 15px;
  font-size: 16px !important;
  font-weight: 200;
  opacity: 0.85 !important;
  color: #FFF;
  letter-spacing: 1.5px;
 }

 .footer-links {
  margin-bottom: 5px;
}

.footer-links a {
  font-size: 16px !important;
  font-weight: 250;
  opacity: 0.85;
  letter-spacing: 1.5px;
  color: #FFF;
  text-decoration: none;
  margin-bottom: 10px;
}

.footer-links a:hover {
  text-decoration: none;
  color: #50E3C2;
  opacity: 0.85;
  cursor: pointer;
}

.partner-brand img {
    height: 60px;
}
