.joinus {
  color: white;
  text-align: center;
  height: 90vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  margin-top: 30px;
}

.joinus-content h1{
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

#mailchimp {
  color: #3D6392;
  padding: 15px 15px;
}

#mailchimp input {
    border: medium none;
    color: #404040;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 8px 10px;
    width: 300px;
    border-radius: 2px;
  }

#mailchimp input.email {
  background: #F9F9F9;
  opacity: 0.6;
}

#mailchimp input[type="submit"] {
  color: #F9F9F9;
  border: 1px solid #404040;
  padding: 10px 10px;
  border-radius: 50px;
  font-weight: regular;
  font-size: 14px;
  width: 100px;
  margin-top: 20px;
  background: #404040;
  opacity: 0.9;
}

#mailchimp input[type="submit"]:hover {
  opacity: 0.7;
  text-decoration: none;
}

.socials {
  align-items: center;
  padding: 10px 10px;

}
.socials a {
  color: #F9F9F9;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 15px;
}
.socials a:hover {
  opacity: 0.7;
  color: #404040;
}

