.searchbar {
  margin-top: 50px;
}

#namanyay-search-btn {
background:#4FE4C4;
color: white;
font: 'trebuchet ms', trebuchet;
padding:20px 20px !important;
border-radius:0 5px 5px 0;
-moz-border-radius:0 5px 5px 0;
-webkit-border-radius:5px 5px 5px 5px;
-o-border-radius:0 5px 5px 0;
border:0 none;
font-weight:bold;
font-size: 12px;
}

.namanyay-search-box {
padding:20px !important;
 border-radius:5px 0 0 5px;
-moz-border-radius:5px 0 0 5px;
-webkit-border-radius:5px 5px 5px 5px;
-o-border-radius:5px 0 0 5px;
border:0 none;
width: 350px;
// color: white;
background-color: #D9D7D8;
font-size: 12px;
}

.namanyay-search-box-type {
padding:20px !important;
 border-radius:5px 0 0 5px;
-moz-border-radius:5px 0 0 5px;
-webkit-border-radius:5px 5px 5px 5px;
-o-border-radius:5px 0 0 5px;
-webkit-appearance:none;
border:0 none;
width: 150px;
color: black;
font-size: 12px;
}
