.tabs {
  display: flex;
  padding: 10px 10px 10px 10px;
}


.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.85;
}

.tab.active {
  background: #50E3C2;
  opacity: 0.6;
  color: #F9F9F9;
}

.btn-peetaya {

}

.wrapper-grey {
min-height: 80vh;
}
